DROP DATABASE IF EXISTS [MyShopK6]
GO

CREATE DATABASE [MyShopK6]
GO

USE [MyShopK6]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/4/2019 11:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDonHang]    Script Date: 8/4/2019 11:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDonHang](
	[MaCt] [int] IDENTITY(1,1) NOT NULL,
	[MaHh] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [float] NOT NULL,
	[GiamGia] [int] NOT NULL,
 CONSTRAINT [PK_CTDonHang] PRIMARY KEY CLUSTERED 
(
	[MaCt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 8/4/2019 11:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDh] [int] IDENTITY(1,1) NOT NULL,
	[NgayDat] [datetime2](7) NOT NULL,
	[NgayGiao] [datetime2](7) NULL,
	[MaKh] [nvarchar](50) NULL,
	[TongTien] [float] NOT NULL,
	[DiaChiGiao] [nvarchar](max) NULL,
	[NguoiNhan] [nvarchar](max) NULL,
	[MaPt] [int] NOT NULL,
	[MaTt] [int] NOT NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 8/4/2019 11:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHh] [int] IDENTITY(1,1) NOT NULL,
	[TenHh] [nvarchar](150) NOT NULL,
	[Hinh] [nvarchar](150) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DonGia] [float] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaLoai] [int] NOT NULL,
	[MaTh] [nvarchar](50) NULL,
	[GiamGia] [int] NOT NULL,
 CONSTRAINT [PK_HangHoa] PRIMARY KEY CLUSTERED 
(
	[MaHh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 8/4/2019 11:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKh] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[DienThoai] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](150) NOT NULL,
	[DiaChi] [nvarchar](150) NULL,
	[RandomKey] [nvarchar](10) NULL,
	[LastLogin] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 8/4/2019 11:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[Hinh] [nvarchar](150) NULL,
	[MaLoaiCha] [int] NULL,
 CONSTRAINT [PK_Loai] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 8/4/2019 11:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[MaPt] [int] IDENTITY(1,1) NOT NULL,
	[TenPt] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_PhuongThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaPt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 8/4/2019 11:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaTh] [nvarchar](50) NOT NULL,
	[TenThuongHieu] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](150) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[Logo] [nvarchar](150) NULL,
 CONSTRAINT [PK_ThuongHieu] PRIMARY KEY CLUSTERED 
(
	[MaTh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiDonHang]    Script Date: 8/4/2019 11:30:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiDonHang](
	[MaTt] [int] IDENTITY(1,1) NOT NULL,
	[TenTt] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TrangThaiDonHang] PRIMARY KEY CLUSTERED 
(
	[MaTt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190713074016_InitDb', N'2.2.4-servicing-10062')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190713092144_AddHangHoa', N'2.2.4-servicing-10062')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20190714113827_ThuongHieu', N'2.2.3-servicing-35854')
SET IDENTITY_INSERT [dbo].[HangHoa] ON 

INSERT [dbo].[HangHoa] ([MaHh], [TenHh], [Hinh], [MoTa], [DonGia], [SoLuong], [MaLoai], [MaTh], [GiamGia]) VALUES (1, N'Sony 40inch', N'_636986977754681622kdl-40w660e_4.jpg', N'Sony', 7999000, 13, 6, N'SONY', 0)
INSERT [dbo].[HangHoa] ([MaHh], [TenHh], [Hinh], [MoTa], [DonGia], [SoLuong], [MaLoai], [MaTh], [GiamGia]) VALUES (2, N'Panel 21inc', N'_63698700657292796331EPGSm2s1L._SL500_AA300_.jpg', N'Panel 21"', 198600, 12, 10, N'SONY', 0)
INSERT [dbo].[HangHoa] ([MaHh], [TenHh], [Hinh], [MoTa], [DonGia], [SoLuong], [MaLoai], [MaTh], [GiamGia]) VALUES (3, N'Keyboard', N'_63698700723774209141G38jC0ajL._SL500_AA300_.jpg', N'Keyboard', 15900, 12, 3, N'DELL', 0)
SET IDENTITY_INSERT [dbo].[HangHoa] OFF
INSERT [dbo].[KhachHang] ([MaKh], [HoTen], [Email], [DienThoai], [MatKhau], [DiaChi], [RandomKey], [LastLogin], [IsActive], [Role]) VALUES (N'04fce82a-18a3-444d-ac2c-e3c29ebf62fd', N'Trần Anh', N'tran.anh@gmail.com', N'0909366999', N'7cd53077f38b14c3489a2b3c0c79733e', N'105 Bà Huyện Thanh Quan, Q3', N'zmts', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, N'Customer')
INSERT [dbo].[KhachHang] ([MaKh], [HoTen], [Email], [DienThoai], [MatKhau], [DiaChi], [RandomKey], [LastLogin], [IsActive], [Role]) VALUES (N'b1cb3509-aab0-4a3a-841f-275d039a04fd', N'Lê Na', N'le.na@gmail.com', N'0909009900', N'2424631092910cdef62f056077174a5f', N'105 Bà Huyện Thanh Quan, Q3', N'60dc', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0, N'Customer')
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [Hinh], [MaLoaiCha]) VALUES (1, N'Điện thoại/Laptop/Tablet', N'Điện thoại/Laptop/Tablet', NULL, NULL)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [Hinh], [MaLoaiCha]) VALUES (2, N'Điện thoại', N'Điện thoại', NULL, 1)
INSERT [dbo].[Loai] ([MaLoai], [TenLoai], [MoTa], [Hinh], [MaLoaiCha]) VALUES (3, N'Laptop', N'Laptop', NULL, 1)
SET IDENTITY_INSERT [dbo].[Loai] OFF
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] ON 

INSERT [dbo].[PhuongThucThanhToan] ([MaPt], [TenPt], [MoTa]) VALUES (1, N'Tiền mặt', N'Giao hàng nhận tiền')
INSERT [dbo].[PhuongThucThanhToan] ([MaPt], [TenPt], [MoTa]) VALUES (2, N'Trực tuyến', N'Online Banking')
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] OFF
INSERT [dbo].[ThuongHieu] ([MaTh], [TenThuongHieu], [DiaChi], [DienThoai], [Logo]) VALUES (N'AP', N'Apple', NULL, NULL, N'apple.jpg')
INSERT [dbo].[ThuongHieu] ([MaTh], [TenThuongHieu], [DiaChi], [DienThoai], [Logo]) VALUES (N'DELL', N'DELL', NULL, NULL, N'dell-logo.jpg')
INSERT [dbo].[ThuongHieu] ([MaTh], [TenThuongHieu], [DiaChi], [DienThoai], [Logo]) VALUES (N'MO', N'Motorola', NULL, NULL, N'motorola.jpg')
SET IDENTITY_INSERT [dbo].[TrangThaiDonHang] ON 

INSERT [dbo].[TrangThaiDonHang] ([MaTt], [TenTt]) VALUES (1, N'Mới đặt hàng')
INSERT [dbo].[TrangThaiDonHang] ([MaTt], [TenTt]) VALUES (2, N'Đã xác nhận')
INSERT [dbo].[TrangThaiDonHang] ([MaTt], [TenTt]) VALUES (3, N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[TrangThaiDonHang] OFF
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [MaPt]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [MaTt]
GO
ALTER TABLE [dbo].[HangHoa] ADD  DEFAULT ((0)) FOR [GiamGia]
GO
ALTER TABLE [dbo].[CTDonHang]  WITH CHECK ADD  CONSTRAINT [FK_CTDonHang_HangHoa_MaHh] FOREIGN KEY([MaHh])
REFERENCES [dbo].[HangHoa] ([MaHh])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDonHang] CHECK CONSTRAINT [FK_CTDonHang_HangHoa_MaHh]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang_MaKh] FOREIGN KEY([MaKh])
REFERENCES [dbo].[KhachHang] ([MaKh])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang_MaKh]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_PhuongThucThanhToan_MaPt] FOREIGN KEY([MaPt])
REFERENCES [dbo].[PhuongThucThanhToan] ([MaPt])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_PhuongThucThanhToan_MaPt]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TrangThaiDonHang_MaTt] FOREIGN KEY([MaTt])
REFERENCES [dbo].[TrangThaiDonHang] ([MaTt])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TrangThaiDonHang_MaTt]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_Loai_MaLoai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_Loai_MaLoai]
GO
ALTER TABLE [dbo].[HangHoa]  WITH CHECK ADD  CONSTRAINT [FK_HangHoa_ThuongHieu_MaTh] FOREIGN KEY([MaTh])
REFERENCES [dbo].[ThuongHieu] ([MaTh])
GO
ALTER TABLE [dbo].[HangHoa] CHECK CONSTRAINT [FK_HangHoa_ThuongHieu_MaTh]
GO
ALTER TABLE [dbo].[Loai]  WITH CHECK ADD  CONSTRAINT [FK_Loai_Loai_MaLoaiCha] FOREIGN KEY([MaLoaiCha])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[Loai] CHECK CONSTRAINT [FK_Loai_Loai_MaLoaiCha]
GO
