
@{
    ViewData["Title"] = "XuLyHinhTron";
}

<h2>Xử lý Hình tròn</h2>
<form>
    Bán kính: <input type="number" name="BanKinh" value="@ViewBag.BanKinh" />
    <button>Tính</button>
    Chu vi : @ViewBag.ChuVi, diện tích @ViewBag.DienTich
</form>


