@model MyShopK6.Models.KhachHangView
@{
    ViewBag.Title = "Đăng ký";
}

<div class="row container">
    <h2 class="text-center">Đăng ký Thành viên</h2>
    <div class="col-md-4"></div>
    <div class="col-md-6">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienThoai" class="control-label"></label>
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhau" class="control-label"></label>
                <input asp-for="MatKhau" class="form-control" />
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">
                    <i class="icon-user icons"></i>
                    Đăng ký
                </button>
            </div>
            <div class="about-page" style="margin:-10px 0 5px 0;">
                <ul>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;<a asp-controller="KhachHang" asp-action="Login" class="m-1">Đăng nhập</a></li>
                    <li><i class="fa fa-arrow-right"></i>&nbsp;<a asp-controller="KhachHang" asp-action="ForgotPassword">Quên mật khẩu</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>

